.container1 {
	overflow:hidden;
	height:100%;
	width:100%;
}

.container2 {
	width:70%;
	box-sizing:border-box;
	float:right;
	}

#sidebar {
	width:25%;
	overflow:hidden;
	display:block;
	background:#fff;	
	float:left;
	}
